/*static*/
html{
	user-select: none;
}
body {
	background-color: #111111;
	margin: 0;
	overflow-x: hidden;
}
p{margin: 10px 0px;}
.main {
	position: fixed;
	width: 65%;
	margin: auto;
	height: 100%;
	right: 0;
	left: 0;
}
#noise {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	pointer-events: none;
	z-index: 90;
}

#noise:before {
	content: '';
	position: absolute;
	top: -100%;
	left: -100%;
	height: 300%;
	width: 300%;
	background: url(../img/noise.png);
	pointer-events: none;
	display: block;
	opacity: 0.9;
	-webkit-animation: grain 1s steps(10) infinite;
	animation: grain 1s steps(10) infinite;
	will-change: transform;
}

.greet-type{
	position: absolute;
	top: 150px;
	font-size: 35px;
	font-weight: bold;
	font-family: monospace;
	color: #0aec11;
	font-size: clamp(1.2rem, 6vw, 2.4rem);	
	padding: 5px;
}
.line-1{  
	width: 11.1em;
	border-right: 13px solid #0aec11;
	font-size: clamp(1.2rem, 6vw, 2.4rem);	
	white-space: nowrap;
	overflow: hidden;
	font-family: Roboto Mono, monospace;
	margin-top: 150px;
	margin-left: 40px;
	color: #cacfd7;
}
li{
	opacity: 0;
	font-family: 'Press Start 2P';
	font-size: clamp(60px, 11vw, 250px);
	margin-top: 50px;
	color: #dc4712;
	text-shadow: -5px 11px 0px #252525;
	animation: authorAnim 1s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  zoom: 1;
  *display: inline;
  padding: 0px;
  color: white;
}
a.color1:hover { color: #ff0000; }
a.color2:hover { color: #0050b5; }
a.color3:hover { color: #c10034; }
a.color4:hover { color: #c1b300; }
a.color5:hover { color: #02c100; }
a.color6:hover {color: #8a00c1;}
a.color7:hover {color: #172eda;}
a.color8:hover {color: #ff8f00;}
a.color9:hover {color: #9e2121;}
a.color10:hover {color: #a4093a;}

#author_job{
	opacity: 0;
	font-family: 'Press Start 2P';
	font-size: 3vw;
	color: #a0a0a0f0;
	animation: authorJobAnim 1s;
	animation-delay: 3.2s;
	animation-fill-mode: forwards;
}
.anim-typewriter{
	animation: typewriter 2s steps(19) 1s 1 normal both,
	blinkTextCursor 1111ms steps(19) infinite normal;
}
button{
	opacity: 0;
	padding: 14px 11px 14px 11px;
	font-family: 'Press Start 2P';
	margin-top: 20px;
	font-size: 1.3vw;
	font-weight: bold;
	background: #a5a5a5;
	border: none;
	animation: buttonAnim 1s;
	animation-delay: 3.4s;
	animation-fill-mode: forwards;
	transition: background 0.6s, color 0.6s;
	cursor: pointer;
}
button:hover {
    background: #0c4d9e;
    color: #fcfcfc;
}
button:focus{
	outline: #0beb12 solid 5px;
	background: #0c4d9e;
    color: #fcfcfc;
}
/*mobile*/
@media only screen and (max-width: 1200px) {
	.main {
		position: fixed;
		width: 85%;
		margin: auto;
		height: 100%;
		right: 0;
		left: 0;
	}
	#author{
		font-size: clamp(60px, 14.5vw, 250px);
		margin-top: unset;
	}
	#author_job{
		font-size: 4vw;
	}
	button{
		margin-top: 5px;
		font-size: 3.2vw;
	}

}